body{
  height: 100vh;
  margin:0;
  padding:0;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content:center;
}
#root{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color:#DDF2F5;
  justify-content:center;
  align-items: center;
  border:0.8rem solid blue;
  border-radius: 1rem;
  border-color: #7FD8E6;
  gap: 1rem;
  margin: 0rem 9rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  width: 100%;
  padding: 10% 0%;
}
#header{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}
#no-of-items{
  border-radius: 1rem;
  padding: 1% 5%;
  background-color: #17A2B8;
  color: white;
}
#header-buttons{
  display: flex;
  gap:1rem;
}
button{
  background-color: #4CA4FB;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}
#reset{
  background-color: #218838;
}
#refresh{
  background-color: #4CA4FB;
}
#item-quantity{
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
}
#items{
  width: 100%;
  display: flex;
  gap:1rem;
}
#add{
  background-color: #5A6268;
}
#subtract{
  background-color: #5BBDCD;
}
#delete{
  background-color:#C82333;
}
.blue{
  background-color: blue;
  color: white;
}
.yellow{
  background-color: #FFC107;
  color: black;
}

